* {
  box-sizing: border-box
}

a:link {
  text-decoration: none;
}

.App {
  text-align: center;
}


.App-link {
  color: #61dafb;
}

.global-layout {
  /* this is the global div */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px dotted rgb(231, 10, 10); */
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  min-height: 100vh;
  /* width: 100 */

}

.nav-bar {
  display: flex;
  /* border: 2px dashed greenyellow; */
  align-items:baseline;
  background: rgb(114, 28, 243);
  margin-top: 0px;
  margin-bottom: 0px;
  /* min-height: 100vh; */
  min-width: 100vw;
  padding: 3px;
}

.nav-bar-item {
  /* border: 2px solid white; */
  padding: 2px;
  margin: 10px;
  color: white;
  border-radius: 5px;
  /* border: 1px solid white */
}
.nav-bar-item-cart {
  /* border: 2px solid white; */
  /* justify-content:; */
  /* align-items:; */
  padding: 2px;
  margin: 10px;
  color: white;
  border-radius: 5px;
  /* border: 1px solid white */
}

.nav-bar-item:hover {
  color: black;
  /* border: 1px solid white; */
  /* background-color: white; */

}

.nav-bar-lock-icon{
  /* display:flex; */
  /* justify-content: center;
  align-items: center; */
  border: 2px solid white;
  
}

/* .nav-bar-logout-button {
  display: flex;
  border: 2px solid white;
  
} */

.nav-bar-user-display {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding:4px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid rgb(114, 28, 243);
  background-color: rgb(253, 253, 176);
  font-weight: lighter;
}

.nav-bar button {
  color: rgb(114, 28, 243);
  border-radius: 7px;
  background-color: white;
}

.login-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid yellow; */
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  height: 300px;
  flex: 1;
}

.login-main input {
  border: 1px solid black;
  margin: 1%;
  border-radius: 5px;
  padding: 3px;
  text-align: center;

}

.login-main button {
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  color: white;
  background-color: rgb(114, 28, 243);
  border: 1px solid white;
}

.login-main button:hover {
  color: black;
  background-color: white;
  border: 1px solid rgb(114, 28, 243);
}

.registration-main {
  /* this is the div the button is in */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid yellow; */
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  height: 300px;
  flex: 1;
}

.registration-main input {
  border: 1px solid black;
  margin: 1%;
  border-radius: 5px;
  padding: 3px;
  text-align: center;
}

.registration-main button {
border-radius: 5px;
  padding: 5px 10px 5px 10px;
  color: white;
  background-color: rgb(114, 28, 243);
  border: 1px solid white;
}

.registration-main button:hover {
  color: black;
  background-color: white;
  border: 1px solid rgb(114, 28, 243);
}

.homepage-main {
  /* this is the div the button is in */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid yellow; */
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  height: 300px;
  flex: 1;
}

.homepage-image {
  margin: 60px;
  padding: 20px;
  height: 400px
}

.cartpage-main {
  /* this is the div the button is in */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid yellow; */
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  height: 300px;
  flex: 1;
}

footer {
  /* border: 2px dashed greenyellow; */
  align-items: center;
  justify-content: center;
  background: rgb(114, 28, 243);
  margin-top: 10px;
  max-height: 3.5vh;
  min-width: 100vw;
  padding: 5px;
  font-size: smaller;

}

footer a {
  color: white
}

footer a:hover {
  color: black;
}

.copyright {
  color: white
}