* {
  box-sizing: border-box
}

a:link {
  text-decoration: none;
}

.App {
  text-align: center;
}


.App-link {
  color: #61dafb;
}

.global-layout {
  /* this is the global div */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dotted rgb(231, 10, 10);
  background-color: #505664;
  color: white;
  min-height: 100vh;
  /* width: 100 */

}

.nav-bar {
  display: flex;
  border: 2px dashed greenyellow;
  align-items: center;
  background: rgb(0, 0, 0);
  margin-top: 0px;
  /* min-height: 100vh; */
  min-width: 100vw;
  padding: 5px;
}

.nav-bar-item {
  /* border: 2px solid white; */
  padding: 3px;
  margin: 10px;
  color: rgb(99, 99, 251);
  border-radius: 5px;
}

.nav-bar-item:hover {
  color: greenyellow
}

.nav-bar-user-display {
  display: flex;
  justify-content: center;
  border: 2px dashed white;
}



.login-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid yellow;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  height: 300px;
  flex: 1;
}

.login-main input {
  border: 0px solid lightblue;
  margin: 1%;
  border-radius: 5px;
}

.login-main button {
  border-radius: 5px;
}

.login-main button:hover {
color:red
}
.registration-main {
  /* this is the div the button is in */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid yellow;
  border-radius: 20px;
  height: 300px;
  flex: 1;

}

.homepage-main {

  /* this is the div the button is in */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid yellow;
  border-radius: 20px;
  height: 300px;
  flex: 1;

}



footer {
  
    /* border: 2px dashed greenyellow; */
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 0);
    margin-top: 10px;
    max-height: 3.5vh;
    min-width: 100vw;
    padding: 5px;
    font-size: smaller;
    
}

footer a:hover {
  color: greenyellow
}