* {
  box-sizing: border-box
}

a:link {
  text-decoration: none;
}

.App {
  text-align: center;
}


.App-link {
  color: #61dafb;
}

.global-layout {
  /* this is the global div */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* border: 2px dotted rgb(231, 10, 10); */
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  min-height: 100vh;
  width: 100
}

.main-nav-div {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  /* border: 5px solid #4361EE; */
  /* background-color: #C1F7DC; */
  background-color: #7209B7;

}

.nav-bar-left {
  display: flex;
  /* border: 2px dashed greenyellow; */
  justify-content: baseline;
  align-items: baseline;
  background: #7209B7;
  /* margin-top: 0px;
  margin-bottom: 0px; */
  /* min-height: 100vh; */
  width: 80%;
  padding: 5px;
  /* padding-bottom: 10px; */
}

.nav-bar-right {
  display: flex;
  /* border: 2px dashed greenyellow; */
  justify-content: space-evenly;
  align-items: baseline;
  background: #7209B7;
  width: 20%;
  margin: px;
  padding: 5px;
  /* padding-bottom: 10px; */
}

.nav-bar-item-left {
  /* border: 2px solid rgb(17, 255, 4); */
  padding-left: 1rem;
  padding-right: 1rem;
  /* margin: ; */
  color: rgb(255, 255, 255);
}

.nav-bar-item-left:hover {
  color: black;
}
.nav-bar-item-right {
  /* border: 2px solid rgb(251, 0, 255); */
  /* display: flex;
  justify-content: ;
  align-items: center;
  padding: 2px; */
  /* margin: ; */
  color: rgb(255, 255, 255);
  /* border-radius: 5px; */
  /* border: 1px solid white */
}
.nav-bar-item-right:hover {
  color: black;
}

#login-logout-button {
  /* border: 2px solid pink; */
/* border: 2px solid white; */
  display: flex;
  /* align-self: center; */
  padding: 2px;
  margin: 12px;
  /* border-radius: 5px; */
  /* border: 1px solid white */
  /* color: rgb(114, 28, 243); */
  border-radius: 7px;
  /* background-color: rgb(255, 255, 255); */
}

#login-logout-button button {
  color: rgb(114, 28, 243);
  border-radius: 7px;
  background-color: rgb(255, 255, 255);
}

#login-logout-button button:hover {
  color: black;
  border-radius: 7px;
  background-color: rgb(255, 255, 222);

}

#nav-bar-item-cart-icon {
  /* border: 2px solid white; */
  /* justify-content:; */
  /* align-items:; */
  padding: px;
  margin: 10px;
  color: black;
  border-radius: 5px;
  /* background-color: black; */

  /* border: 1px solid white */
}

#nav-bar-item-cart-icon:hover {
  color: red
  /* border: 1px solid white; */
  /* background-color: white; */

}

.nav-bar-lock-icon {
  /* display:flex; */
  /* justify-content: center;
  align-items: center; */
  border: 2px solid white;

}

/* .nav-bar-logout-button {
  display: flex;
  border: 2px solid white;
  
} */

.nav-bar-user-display {
  display: flex;
  justify-content: center;
  /* border-radius: 10px; */
  padding: 4px;
  /* margin-left: 20px;
  margin-right: 20px; */
  /* border: 5px solid rgb(243, 222, 28); */
  /* background-color: #C1F7DC; */
  background-color: #7209B7;
  font-weight:300;
}

.nav-bar button {
  color: rgb(114, 28, 243);
  border-radius: 7px;
  background-color: rgb(255, 255, 255);
}

.nav-bar button:hover {
  color: black;
  border-radius: 7px;
  background-color: rgb(235, 235, 235);

}

.cartpage-main {
  /* this is the div the button is in */
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid yellow;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  height: 300px;

  color: black;
}

.cart-item-display-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid rgb(0, 0, 0); */
  background-color: rgb(241, 241, 241);
  border-radius: 20px;
  margin: 2px;
  padding: 20px;
  height: 200px;
  /* flex: 1; */
}

.cart-count-button {
  border-radius: 4px;
  /* padding: px px px px; */
  color: white;
  background-color: rgb(114, 28, 243);
  border: 1px solid rgb(114, 28, 243);
  /* margin: 5px; */
}

.cart-count-button:hover {
  border-radius: 4px;
  color: black;
  background-color: white;
  border: 1px solid rgb(114, 28, 243);
}

.cart-card-inner-div {
  display: flex;
  justify-content: center;
  min-height: ;
  border: 1px solid black
}

.login-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid yellow; */
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  height: 300px;
  flex: 1;
}

.login-main input {
  border: 1px solid black;
  margin: 1%;
  border-radius: 5px;
  padding: 3px;
  text-align: center;

}

.login-main button {
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  color: white;
  background-color: rgb(114, 28, 243);
  border: 1px solid white;
}

.login-main button:hover {
  color: black;
  background-color: white;
  border: 1px solid rgb(114, 28, 243);
}

.registration-main {
  /* this is the div the button is in */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid yellow; */
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  height: 300px;
  flex: 1;
}

.registration-main input {
  border: 1px solid black;
  margin: 1%;
  border-radius: 5px;
  padding: 3px;
  text-align: center;
}

.registration-main button {
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  color: white;
  background-color: rgb(114, 28, 243);
  border: 1px solid white;
}

.registration-main button:hover {
  color: black;
  background-color: white;
  border: 1px solid rgb(114, 28, 243);
}

.homepage-main {
  /* this is the div the button is in */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid yellow; */
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  height: 300px;
  flex: 1;
}

.homepage-image {
  margin: 60px;
  padding: 20px;
  height: 400px
}

.profile-page-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid yellow; */
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  height: 300px;
  flex: 1;
}

.profile-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(71, 71, 71);
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  height: 300px;
  flex: 1;
}

.item-display-page-container {
  display: flex;
  border: 2px solid rgb(0, 0, 0);
}

.item-display-page-item-list-div {
  border: 2px solid rgb(0, 0, 0);
  width: 70%;
}

.item-display-page-cart-div {
  /* border: 2px solid rgb(242, 8, 8); */
  /* background: linear-gradient(to right, #190fe8, #8616e1); */
  
  width: 30%;
}

.item-display-page-cart-display {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
}

.item-display-page-cart {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
}


.item-display-page-cart-card-container {
  /* border: 2px solid greenyellow; */
  margin: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 8px;
  background-color: #acacac;
  /* background: linear-gradient(to right, #190fe8, #8616e1); */
}

.item-display-page-cart-card-div-left {
  /* border: 2px solid blue; */
  border-radius: 8px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item-display-page-cart-card-div-right {
  /* border: 2px solid purple; */
  width: 20%;
  height: 30%;
  /* display: flex;
  flex-direction: column; */
}

.item-display-page-cart-card-div-right-button {
  /* display:grid; */
  display: flex 1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  border: 2px solid purple;
  border-radius: 5px;
}

.item-display-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid rgb(0, 0, 0); */
  background-color: #f9f9f9;
  /* background: linear-gradient(to right, #f9ecf9, #8616e1); */
  border-radius: 20px;
  margin: 7px;
  padding: 20px;
  height: 200px;
  flex: 1;
  /* width: 70% */
}

.item-display-card-element {
  display: flex;
  border: 1px solid black;
  justify-content: flex-start;

}

.item-display-button {
  border-radius: 6px;
  /* padding: px px px px; */
  color: white;
  background-color: #4361EE;
  border: 1px solid #4361EE;
  margin: 5px;
}

.item-display-button:hover {
  border-radius: 6px;
  color: black;
  background-color: white;
  border: 1px solid rgb(114, 28, 243);
  margin: 5px;
}

.no-item-in-cart-photo {
  
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* background: linear-gradient(to right, #190fe8, #8616e1); */
  background: linear-gradient(to right, #ffffff, #d5d5d5);
  width: 30%
}

footer {
  /* border: 2px dashed greenyellow; */
  align-items: center;
  justify-content: center;
  background: #7209B7;
  margin-top: 10px;
  max-height: 3.5vh;
  min-width: 100vw;
  padding: 5px;
  font-size: smaller;
}

footer a {
  color: white
}

footer a:hover {
  color: black;
}

.copyright {
  color: white
}